@page "/rental-page"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Denna sida syns endast som inloggad</h1>

<AuthorizeView>
    <p>Hello @context.User.Identity?.Name!</p>
    <p>Här ska båt- och uthyrningsdetaljer finnas.</p>
</AuthorizeView>
