@page "/"

@inject IBoatService BoatService

<PageTitle>Hem</PageTitle>

<h1>Båtuthyrning made simple!</h1>

<p>Här kan ni hyra båtar med några enkla knapptryck!</p>

Flera funktioner:
<div>
    <ul>
        <li>Inlogg via BankId</li>
        <li>Klicka på båten i listan</li>
        <li>Sök platser/städer för att se båtar på just den platsen</li>
        <li>Kolla vädret</li>
        <li>Betala med Swish</li>
    </ul>
</div>

<hr />
<section>
    <div class="row w-100">
        <h3>Våra båtar</h3>
        @foreach (var boat in boats)
        {
            <div class="col-md-3 mb-4 d-flex justify-content-center">
                <div class="card d-flex flex-column h-100" style="width: 18rem;">

                    <img src="/Images/@boat.ImageName" class="card-img-top" style="height: 200px; object-fit: cover" />
                    
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@boat.Name</h5>
                        @if (boat.IsAvailable)
                        {
                            <span class="text-success">Tillgänglig</span>
                        }
                        else
                        {
                            <span class="text-danger">Bokad idag</span>
                        }
                        <p class="card-text mt-auto">@boat.Description</p>
                        <p class="text-info mt-auto">@boat.Location</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@code {
    List<Boat> boats = new List<Boat>();

    protected override async Task OnInitializedAsync()
    {
        boats = await BoatService.GetBoatsAsync();
    }
}