@page "/"

<PageTitle>Hem</PageTitle>

<h1>Båtuthyrning made simple!</h1>

<p>Här kan ni hyra båtar med några enkla knapptryck!</p>

Flera funktioner:

<ul>
    <li>Inlogg via BankId</li>
    <li>Klicka på båten i listan</li>
    <li>Sök platser/städer för att se båtar på just den platsen</li>
    <li>Kolla vädret</li>
    <li>Betala med Swish</li>
</ul>